* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    max-width: 90%;
    padding: 0;
    margin: 0 auto;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .contenido {
    margin: 0 auto;
    padding: 0;
    background-color: #eaeaea;
  }
  
  header {
    padding: 2% 0;
    background-color: #f8f8f8;
  }
  
  footer{
    background-color: #ccc;
  }
  footer p{
    text-align: center;
    color: #000;
  }
  .logo {
    margin: 3% auto;
    display: block;
    max-width: 30%;
  }
  .menu {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f2f2f2;
    padding: 10px 0;
    overflow: hidden;
  }
  
  .menu a {
    text-decoration: none;
    color: #000;
  }
  
  .menu a:hover {
    color: #333; 
  }
  .menu a:link {
    color: #000;
  }
  
  #enlaceform .enlaceMenu {
    display: inline-block;
    margin-left: 10px; /* Espacio entre enlaces */
    margin-top: 1%;
    margin-bottom: 1%;
}
  .enlaceMenu {
    text-decoration: none;
    display: inline-block;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  #enlaceform {
    float: right;
    margin-top: 1%;
    margin-right: 2%;
  }
  
  #enlaceform form {
    margin-right: 10px;
    display: inline-block;
  }
  
  #enlaceform a {
    display: inline-block;
    text-align: right;
  }
  
  h1 {
    text-align: center;
  }
  
  h3 {
    margin-left: 2%;
  }

  .contenedorAnuncios {
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .anuncio {
    width: calc(33.33% - 20px);
    background-color: #f9f7ff;
    border: 1px solid #625770;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    position: relative;
  }
  #anuncioUnico{
    min-width: 60%;
    max-width: 80%;
    margin: 2% auto;
    background-color: #f9f7ff;
    border: 1px solid #625770;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .acciones {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-top: 20px; 
}
  .acciones a{
    text-decoration: none;
    color: #000;
  }
.acciones button {
    display: flex;
    align-items: center; 
    gap: 5px; 
    padding: 8px 12px; 
    border: none; 
    background-color: #ccc; 
    border-radius: 5px;
    cursor: pointer; 
}

.acciones button:hover {
    background-color: #ddd; 
}

.acciones button i {
    font-size: 18px; 
}


  
  .fotoAnuncio{
    max-width: 100%;
    height: 50%;
    display: block;
    margin: 2% auto;
  }

  .fotoNoPAnuncio {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 2% auto;
  }
  
  .anuncio h4 {
    font-size: 1.4em;
    margin-bottom: 10px;
    text-decoration: none;
    margin-top: 4%;
  }
  
  .anuncio a {
    color: #333;
    text-decoration: none;
  }
  
  .anuncio p {
    font-size: 1em;
    margin-bottom: 15px;
    text-decoration: none;
  }
  
  .anuncio .precio {
    font-size: 1.2em;
    font-weight: bold;
    color: #ff6d00;
  }
  

  .container {
    margin: auto;
    width: 100%;
    max-width: 400px;
}

.form-background {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    width: calc(100% - 20px); 
    box-sizing: border-box;
}

input[type="submit"] {
    background: #3897f0;
    color: #fff;
    border: none;
    cursor: pointer;
}

.login a {
    color: #3897f0;
}

.paginacion {
  text-align: center;
  margin: 2% auto;
  width: 40%;
}

.paginacion a {
  text-decoration: none;
  color: #000;
  font-size: 1.4em;
  margin: 0 10px;
}